.nav
    position absolute
    right 0
    top 0

    ul
        list-style none
        margin 0
        padding 0 13px 0

        li
            display inline-block

            a
                display inline-block
                font-weight 300
                font-size 1.4rem
                padding 20px 10px
                text-decoration none

.home__header-nav
    margin-top 40px
    text-align center

    ul
        list-style none
        margin 0
        padding 0

        li
            display inline-block

            a
                display inline-block
                font-weight 300
                font-size 2rem
                padding 7px 15px
                margin 0
                border-radius 4%
                transition all .4s ease-in-out
                width 70px
                text-decoration none

                &:hover
                    color alpha
