.side-by-side
    width 130%
    margin 4rem 0 0 -15%

    > .left-image
        float left
        width 48%

    > .right-image
        float right
        width 48%

    > .left-text
        float left
        width 48%
        margin 0 0 4rem 0

    > .right-text
        float right
        width 48%
        margin 0 0 4rem 0
