.side-by-side
    +above(780px)
        width 130%
        margin 4rem 0 0 -15%

    +below(780px)
        width 100%
        margin 4rem 0 0

    > .left-image
        float left
        width 48%

    > .right-image
        float right
        width 48%

    > .left-text
        float left
        width 48%
        margin 0 0 4rem 0

    > .right-text
        float right
        width 48%
        margin 0 0 4rem 0

    > .right-text,
    > .left-text
        +below(780px)
            float none
            width 100%
            margin-top 1rem

    > .right-image,
    > .left-image
        +below(780px)
            float none
            width 100%
            margin-bottom 2rem

    > figcaption
        top 7px

        +below(780px)
            top -17px
