.social-links
    margin-top 20px

    > .link
        margin 0 3px
        text-decoration none

        &:hover
            > .icon
                fill delta

    > .icon
        transition all ease-in-out .2s
