---
layout: page
title: "404"
permalink: /404
---
<h2>404</h2>
{% include doodle-coffeecup.html %}
<p>Uh Oh! There doesn't appear to be anything here. Sorry about that.</p>
<p>If you've followed a link expecting something to be here, please <a href="mailto:{{ site.email }}?subject=Page%20not%20found">email me</a> so I can fix it. I'll make sure to send a lot of good karma your way.</p>
<p>If you're so inclined, feel free to check out some of my recent blog posts below:</p>
<p>
	{% if site.posts.size == 0 %}
		<p>Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
	        {% include blog-404.html %}
	    {% endfor %}

		{% if site.paginate %}
			{% include pagination.html%}
		{% endif %}
	{% else %}
		{% for post in site.posts %}
			{% include blog-404.html %}
		{% endfor %}
	{% endif %}
</p>
