---
layout: page
title: Research
---
<p> I work on two different projects which both come under the broad umbrella of experimental nuclear physics. One of it is a hardware project in which I am helping to design and build a detector subsystem and in the other I analyse the collision data from 2016 at Brookhaven national lab. Brief explanation of these projects are given below:

</p>
<p> Building of Time Projection Chamber (TPC) :

Time projection chamber is a tracking device used in many physics experiments to be able to track energetic particles as they move through a medium. I help in building a tracking device for upcoming detector system sPHENIX at Brookhaven National Lab (BNL). 
Unlike most TPC’s, which have a spatial resolution of 300 microns, we are hoping to achieve a resolution of 150 microns which will be a critical in measuring fully resolved upsilon states and thus the debye radius of quark gluon plasma. The tracking system will work in continuous read out, at high data collection rates -15kHz- and will be able to provide momentum resolution.

</p>


<p> MPCeX Callibration and Data Analysis:



    Soon to be updated </p>

    </p>
<section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
