---
layout: page
title: Teaching
---


<p>I read somewhere that for those of us who do physics, we need to couple that with other activities that give us a sense of instant gratification. For me, this is the central role that teaching plays in my life. It kees me happy, sane and most importantly encourages me to do physics. 
There is something amazing about reminding yourself about the grand picture and question that we are trying to answer as a community. It is very easy to lose sight of that in the mess of everyday job of CAD designs, debugging and preparing for weekely update with colourful plots. 
</p>
<p>This page will be a record of my teaching experiences and materials that I provide to my students. 
</p>
<section class="list">
    {% for post in site.posts %}
        {% if post.teaching %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
