---
layout: page
title: Teaching
---

I read somewhere that for those of us who do Physics, we need to couple that with other activities that give them a sense of instant gratification. FOr me, this is the central role that teaching plays in my life. It kees me happy, sane and most importantly encourages me to do Physics. 
There is something amazing about reminding yourself about the grand picture and question that physicist are trying to answer as it is very easy to lose focus of this in the mess of everyday job of CAD designs, debugging and preparing for weekely update with colourful plots. 
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
