{% if page.title == "Home"%}{% assign showHeader = true %}{% endif %}

{% if page.title == "Blog" 
	or page.title == "Projects" 
	or page.title == "About" 
	or page.title == "Consulting" 
	or page.title == "Tags"
%}{% assign showMinHeader = true %}{% endif %}

{% for post in site.posts %}	
	{% for tag in post.tags %}
		{% if tag == page.tag %}
			{% assign showMinHeader = true %}
		{% endif %}
	{% endfor %}
{% endfor %}			

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% if showMinHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        <h1 class="title">{{ page.title }}</h1>
        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
