</br>
</br>
<div>
	<p align="center">
		<a href="http://public.tableau.com/profile/arti#!/" target="_blank"><img src="aannasw.github.io/assets/images/custom/home_tableau.png" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://github.com/aannasw/movies-capstone/blob/master/Capstone%20Project.pdf" target="_blank"><img src="aannasw.github.io/assets/images/custom/home_capstone.png" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="http://soc.sh/n2IqhVcpTf" target="_blank"><img src="aannasw.github.io/assets/images/custom/home_storyboard.png" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
	<p align="center">
		<a href="https://github.com/aannasw/starbucks-leaflet" target="_blank"><img src="aannasw.github.io/assets/images/custom/station_map_franchise-type-gray.png" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
</div>
