<div class="doodle">
	<p align="center">
		<a href="http://public.tableau.com/profile/arti#!/" target="_blank">
			<figure><img src="aannasw.github.io/assets/images/custom/home_tableau.png" height="116px" width="200px" />
			<figcaption>Tableau Public</figcaption>
			</figure>
		</a>&nbsp;&nbsp;&nbsp;
		<a href="https://github.com/aannasw/movies-capstone/blob/master/Capstone%20Project.pdf" target="_blank">
			<figure><img src="aannasw.github.io/assets/images/custom/home_capstone.png" height="116px" width="200px" />
			<figcaption>Springboard Capstone</figcaption>
			</figure>
		</a>&nbsp;&nbsp;&nbsp;
		<a href="http://soc.sh/n2IqhVcpTf" target="_blank">
			<figure><img src="aannasw.github.io/assets/images/custom/home_storyboard.png" height="116px" width="200px" />
			<figcaption>Storyboard Data Story</figcaption>
			</figure>
		</a>&nbsp;&nbsp;&nbsp;
	</p>
</div>
