<div class="row">

	<div class="col-md-4">
		<a href="http://public.tableau.com/profile/arti#!/" target="_blank"><img src="aannasw.github.io/assets/images/custom/home_tableau.png" height="87px" width="150px" /></a>
	</div>
	<div class="col-md-4">
		<a href="https://github.com/aannasw/movies-capstone/blob/master/Capstone%20Project.pdf" target="_blank"><img src="aannasw.github.io/assets/images/custom/home_capstone.png" height="87px" width="150px" /></a>
	</div>
	<div class="col-md-4">
		<a href="http://soc.sh/n2IqhVcpTf" target="_blank"><img src="aannasw.github.io/assets/images/custom/home_storyboard.png" height="87px" width="150px" /></a>
	</div>

</div>
