<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@kopplin">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if page.image %}
    <meta property="twitter:image:src" content="{{ site.url }}{{page.image }}">
{% else %}
    <meta property="twitter:image:src" content="{{ "/assets/images/profile.jpg" | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{page.image }}">
{% else %}
    <meta property="og:image" content="{{ "/assets/images/profile.jpg" | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">

<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta itemprop="image" content="{{ "/assets/images/profile.jpg" | prepend: site.baseurl | prepend: site.url }}"/>
