<nav class="nav-home">
    <ul class="list">
        <li class="item">
            {% if page.title != "Home" %}
            <a class="link" href="{{ site.url }}/">Home</a>
            {% else %}
            <a class="link" href="{{ site.url }}/"><u>Home</u></a>
            {% endif %}
        </li>
        <li class="item">
            {% if page.title != "About" %}
            <a class="link" href="{{ site.url }}/about">About</a>
            {% else %}
            <a class="link" href="{{ site.url }}/about"><u>About</u></a>
            {% endif %}
        </li>
        <li class="item">
            {% if page.title != "Photos" %}
            <a class="link" href="{{ site.url }}/photos">Photos</a>
            {% else %}
            <a class="link" href="{{ site.url }}/photos"><u>Photos</u></a>
            {% endif %}
        </li>
    </ul>
</nav>
