<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
        <li class="item">
            <a class="link" href="{{ site.url }}/">Home</a>
        </li>
        {% endif %}

        <li class="item">
            <a class="link" href="{{ site.url }}/blog">Blog</a>
        </li>

        <li class="item">
            <a class="link" href="{{ site.url }}/projects">Projects</a>
        </li>

        <li class="item">
            <a class="link" href="{{ site.url }}/opensource">Open Source</a>
        </li>

        <li class="item">
            <a class="link" href="{{ site.url }}/about">About</a>
        </li>

        {% if site.resume == true %}
        <li class="item">
            <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
        </li>
        {% endif %}
    </ul>
</nav>
