<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Susheel Varma",
  "givenName": "Susheel",
  "familyName": "Varma",
  "honorificSuffix": "PhD MBA FBCS",
  "jobTitle": "Chief Data Officer",
  "worksFor": {
    "@type": "Organization",
    "name": "Sage Bionetworks",
    "url": "https://sagebionetworks.org"
  },
  "url": "https://susheelvarma.com",
  "image": "https://susheelvarma.com/assets/images/profile.jpg",
  "description": "Chief Data Officer at Sage Bionetworks, leading science and data infrastructure for biomedical research across cancer, neurodegeneration, rare disease, and digital health.",
  "sameAs": [
    "https://www.linkedin.com/in/susheelvarma/",
    "https://twitter.com/susheelvarma",
    "https://bsky.app/profile/susheelvarma.com",
    "https://github.com/susheel",
    "https://gitlab.com/susheel",
    "https://orcid.org/0000-0003-1687-2754",
    "https://www.wikidata.org/wiki/Q60408221",
    "https://sagebionetworks.org/people/",
    "https://scholar.google.com/citations?user=J5M0XgoAAAAJ"
  ],
  "alumniOf": [
    {
      "@type": "CollegeOrUniversity",
      "name": "University of Sheffield",
      "url": "https://www.sheffield.ac.uk/"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "University of Milan-Bicocca",
      "url": "https://en.unimib.it/"
    },
    {
      "@type": "CollegeOrUniversity",
      "name": "Pondicherry University",
      "url": "https://www.pondiuni.edu.in/"
    }
  ],
  "knowsAbout": [
    "biomedical informatics",
    "data infrastructure",
    "open science",
    "FAIR data",
    "data governance",
    "genomics",
    "health data research",
    "trusted research environments"
  ],
  "memberOf": [
    {
      "@type": "Organization",
      "name": "British Computer Society"
    },
    {
      "@type": "Organization",
      "name": "Association for Computing Machinery"
    },
    {
      "@type": "Organization",
      "name": "Software Sustainability Institute"
    },
    {
      "@type": "Organization",
      "name": "Global Alliance for Genomics and Health"
    }
  ]
}
</script>
