<script type="application/ld+json">
{% if page.tags %}
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ page.title }}",
        "url": "{{ site.url }}{{ page.url }}",
        "keywords": "{% for keyword in page.keywords %}{{ keyword }}{% unless forloop.last %},{% endunless %}{% endfor %}",
        "image": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/assets/images/{{ page.img }}"
        },
        "thumbnailUrl": "{{ site.url }}/assets/images/{{ page.img }}",
        "datePublished": "{{ page.date }}",
        "dateModified": "{{ page.date }}",
        "description": "{{ page.description }}",
        "interactionCount": "{{ site.url }}{{ page.url }}#disqus_thread",
        "author": {
            "@type": "Person",
            "name": "{{ site.name }}",
            "image": "{{ site.url }}{{ site.picture }}",
            "url": "{{ site.url }}/sobre/"
        },
        "mainEntityOfPage":{
            "@type": "WebPage",
            "@id": "https://google.com/article"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.name }}"
        }
    }

{% endif %}
</script>
