.home, .blog
    margin-top 125px

    .home__header
        display block
        margin 0 auto
        text-align center

        img
            width 125px
            margin-bottom 25px
            border-radius 100%

        h1, h2
            margin 0

        h1
            font-size 4rem
            margin-bottom 13px

        h2
            font-size 1.85rem
            font-weight 300
            font-style normal
            color gama
            width 70%
            margin 0 auto 30px

            a
                font-weight 200

        .home__header-social
            margin-top 20px

            a
                margin 0 3px

                &:hover svg
                    fill delta

            svg
                transition all ease-in-out .2s

    .home__sections
        border-top 1px solid epsilon
        margin-top 30px
        padding-top 40px
        position relative

        &:before
            display block
            content " "
            width 7px
            height 7px
            border epsilon 1px solid
            position absolute
            top -5px
            left 50%
            margin-left -5px
            background #FFF
            box-shadow #FFF 0 0 0 5px
            border-radius 3px

        .home__sections-single
            display block
            width 95%
            margin 0 auto

            &:hover h3
                color delta

            &:hover aside
                color alpha

            a
                width 100%
                height 100%
                display block
                padding 20px 0
                text-decoration none

            h3
                margin 0
                width 75%
                font-weight 500
                transition all ease-in-out .2s

            aside
                position relative
                top 2px
                margin 0
                width 25%
                float right
                font-weight 300
                color gama
                text-align right
                transition all ease-in-out .2s
