.post
    margin-top 125px

    h1.post__title
        text-align center
        margin-bottom 3rem

    h2, h3, h4
        margin-top 40px

        a
            text-decoration none

    span time
        color gama
        font-weight 300
        font-size 1.4rem
        text-transform uppercase
        text-align center
        display block
        margin-bottom 6rem
        letter-spacing 1px
        -webkit-font-smoothing antialiased
        text-rendering optimizeLegibility
