.author
    padding 3rem 0
    border-bottom 1px solid epsilon
    border-top 1px solid epsilon
    max-width 100%
    margin 9rem auto 0

    > .toleft > .selfie
        width 90%
        border-radius 100%

    > .toright > .name,
    > .toright > .bio
        width 60%
        display inline-block

    > .toright > .name
        font-size 1.5rem
        font-family fontSans
        font-weight 500
        margin 6px 0 0

        +mobile()
            width 100%
            display block

        +tablet()
            width 100%
            display block

    > .toright > .bio
        font-family fontSans
        font-weight 300
        color gama
        font-size 1.3rem
        text-align justify
        line-height 1.5
        margin 0

        +mobile()
            width 100%
            display block

        +tablet()
            width 100%
            display block

    > .toleft
        width 10%
        display inline-block

        +mobile()
            width 20%

        +tablet()
            width 20%

    > .toright
        width 89%
        display inline-block
        vertical-align top

        +mobile()
            width 78%

        +tablet()
            width 78%

.no-disqus
    border-bottom none
    padding-bottom 0
