.evidence
    background-image: linear-gradient(to bottom, rgba(39,243,106,0.15), rgba(39,243,106,0.15))
    color beta

.star
    > .url > .title
        width auto !important
        display inline
        background-image linear-gradient(to bottom, rgba(39,243,106,0.15), rgba(39,243,106,0.15))

.twitter-tweet
    margin 10px auto
