.side-by-side
    +above(780px)
        width 130%
        margin 6rem 0 6rem -15%

    +below(780px)
        width 100%
        margin 4rem 0

    > .toleft,
    > .toright
        display inline-block
        width 47.5%

        +below(780px)
            img
                text-align center
                display block
                margin 0 auto

    > .toleft
        +above(780px)
            margin-right 2%

        +below(780px)
            width 100%
            margin 0 0 4rem 0

    > .toright
        +above(780px)
            margin-left 2%
            vertical-align top

        +below(780px)
            width 100%
            margin 0 0 4rem 0

    > .toleft > p,
    > .toright > p
        margin 0 0 4rem 0

        +below(780px)
            margin 0
