.post
    margin-top 125px

    > .title
        text-align center
        margin-bottom 3rem

    > .date,
    > .post-tags
        color gama
        font-weight 300
        font-size 1.4rem
        text-transform uppercase
        text-align center
        display block
        margin-bottom 6rem
        letter-spacing 1px
        -webkit-font-smoothing antialiased
        text-rendering optimizeLegibility

    > .date
        margin-bottom 2rem

    > .post-tags > .item
        padding 3px 6px
        border-radius 3px
        font-size 1.1rem
        background epsilon
        color alpha
        letter-spacing 1px
        margin 0 .5rem
        text-decoration none

    // general style
    > h2,
    > h3,
    > h4
        margin-top 40px

        a
            text-decoration none
