---
layout: default
title: Blog
---
{% include header.html %}

<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
	        {% include blog-post.html %}
	    {% endfor %}

		{% if site.paginate %}
			{% include pagination.html%}
		{% endif %}
	{% else %}
		{% for post in site.posts %}
			{% include blog-post.html %}
		{% endfor %}
	{% endif %}
</section>

{% include footer.html %}
