---
layout: default
permalink: /publications/index.html
title: Publications
---
{% include header.html %}

<hr>
<div align="center"><h2>Talks</h2></div>
<section class="list">
    {% for post in site.categories.publication %}
        {% if post.pubtype == 'talk' %}
            <div class="item {% if post.star == true %}star{% endif %}">
                {{ post.jemoji }} {{ post.authors }},
                "<a class="url" href="{{ site.url }}{{ post.url }}">                
                    {{ post.title }}
                </a>,"
                <i>{{ post.in }}</i>,
                {{ post.year }}.
            </div>
            <br>
        {% endif %}
    {% endfor %}
</section>

<div align="center"><h2>Preprints</h2></div>
<section class="list">
    {% for post in site.categories.publication %}
        {% if post.pubtype == 'preprint' %}
            <div class="item {% if post.star == true %}star{% endif %}">
                {{ post.jemoji }} {{ post.authors }},
                "<a class="url" href="{{ site.url }}{{ post.url }}">                
                    {{ post.title }}
                </a>,"
                <i>{{ post.in }}</i>,
                {{ post.year }}.
            </div>
            <br>
        {% endif %}
    {% endfor %}
</section>

<div class="breaker"></div>
<div align="center"><h2>Books</h2></div>
<section class="list">
    {% for post in site.categories.publication %}
        {% if post.pubtype == 'book' %}
            <div class="item {% if post.star == true %}star{% endif %}">
                {{ post.jemoji }} {{ post.authors }},
                "<a class="url" href="{{ site.url }}{{ post.url }}">                
                    {{ post.title }}
                </a>,"
                <i>{{ post.in }}</i>,
                {{ post.year }}.
            </div>
            <br>
        {% endif %}
    {% endfor %}
</section>

<div class="breaker"></div>

<div align="center"><h2>Book Chapters</h2></div>
<section class="list">
    {% for post in site.categories.publication %}
        {% if post.pubtype == 'chapter' %}
            <div class="item {% if post.star == true %}star{% endif %}">
                {{ post.jemoji }} {{ post.authors }},
                "<a class="url" href="{{ site.url }}{{ post.url }}">                
                    {{ post.title }}
                </a>,"
                <i>{{ post.in }}</i>,
                {{ post.year }}.
            </div>
            <br>
        {% endif %}
    {% endfor %}
</section>

<div class="breaker"></div>

<div align="center"><h2>Journal Articles</h2></div>
<section class="list">
    {% for post in site.categories.publication %}
        {% if post.pubtype == 'article' %}
            <div class="item {% if post.star == true %}star{% endif %}">
                {{ post.jemoji }} {{ post.authors }},
                "<a class="url" href="{{ site.url }}{{ post.url }}">                
                    {{ post.title }}
                </a>,"
                <i>{{ post.in }}</i>,
                {{ post.year }}.
            </div>
            <br>
        {% endif %}
    {% endfor %}
</section>

<div class="breaker"></div>

<div align="center"><h2>Patents</h2></div>
<section class="list">
    {% for post in site.categories.publication %}
        {% if post.pubtype == 'patent' %}
            <div class="item {% if post.star == true %}star{% endif %}">
                {{ post.jemoji }} {{ post.authors }},
                "<a class="url" href="{{ site.url }}{{ post.url }}">                
                    {{ post.title }}
                </a>,"
                <i>{{ post.in }}</i>,
                {{ post.year }}.
            </div>
            <br>
        {% endif %}
    {% endfor %}
</section>

<div class="breaker"></div>

<div align="center"><h2>Conference Papers</h2></div>
<section class="list">
    {% for post in site.categories.publication %}
            {% if post.pubtype == 'conf' %}                
                <div class="item {% if post.star == true %}star{% endif %}">
                    {{ post.jemoji }} {{ post.authors }},
                    "<a class="url" href="{{ site.url }}{{ post.url }}">                
                        {{ post.title }}
                    </a>,"
                    <i>{{ post.in }}</i>,
                    {{ post.year }}.
                </div>
                <br>
            {% endif %}
    {% endfor %}
</section>

<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.publication %}
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">                
                    {{ post.jemoji }}<h4 class="title">{{ post.title }}</h4>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->

{% include footer.html %}
